.Container__CreateTicket{
    min-height: 650px;
    width: 954px;
    justify-content: "center";
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 2em 3em;
}

.Container__Row__fullWidth.Header{
    margin-bottom: 3em;
}

.Container__Row__fullWidth{
    margin-bottom: 2em;
}

.Container__Row__flex{
    margin-bottom: 3em;
    display: flex;
    gap: 50px;
}

.Container__Row__Buttons{
    display: flex;
    justify-content: flex-end;
}